.btn-group-sm {
  margin-top: -3.5%;
  padding: 2%;
}

.btn {
  text-align: center;
  float: none;
}
.btn-primary {
  text-align: center;
  font-size: 15px;
  direction: rtl;
  font-family: "ubuntu mono";
  margin-top: 2.5%;
  margin-right: 0%;
  margin-left: 70%;
  border-radius: 30px;
}

#check-blue {
  width: 100%;
  font-family: "ubuntu";
  margin-top: -4%;
  h1 {
    font-size: 35px;
    text-align: left;
    color: white;
  }
  ul {
    font-family: "ubuntu+mono";
    direction: rtl;
    color: white;
    font-size: 18px;
    margin-right: 0%;
    text-align: left;
    margin-top: 5%;
    list-style-type: none;
  }
  li {
    margin-top: 2.5%;
  }
}

#foto-idoso {
  float: right;
  margin-top: -25%;
  margin-right: 10%;
  max-width: 40%;
  height: auto;
  clear: both;
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  #foto-idoso {
    display: none;
  }
}
.box {
  margin-top: 3.5%;
  width: 100vw;
  height: auto;
  background-image: url('./assets/image/background-img.png');
}
#box-idoso {
  background-color: #063d91;
  width: 100vw;
  height: 2.3vw;
}
.card {
  margin-top: 5%;
  display: flex;
  margin-left: 18%;
  margin-right: 20%;
  color: #444444;
  justify-content: center;
  align-items: center;
  width: 65%;
  p {
    font-size: 18px;
    font-family: "ubuntu+mono";
  }
  span {
    font-size: 18px;
    font-family: "ubuntu";
    color: #063d91;
  }
}

.card-body {
  width: fit-content;
  border-radius: 5px;
}
html {
  overflow-x: hidden;
}

#emprestimo {
  margin-top: 10%;
  background-color: #f2f2f2;
  position: relative;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif !important;
  display: flex;
  flex-direction: row;
  h2 {
    margin-top: 10%;
    font-family: "ubuntu";
    text-align: left;
    font-size: 32px;
    color: #012f6d;
    strong {
      color: #0086ff;
    }
  }
}

@media (max-width: 306px) {
  #row-reclame-aqui {
    flex-direction: column-reverse;
  }
}

#reclame-aqui-img {
  width: 40%;
  margin-top: -650px;
  margin-left: 50%;
}

#foto-emprestimo {
  margin-top: 5%;
}

#lista-reclame-aqui {
  font-family: "ubuntu+mono";
  direction: rtl;
  font-size: 18px;
  margin-top: -5%;
  margin-right: 0%;
  text-align: left;
  margin-top: 10%;
  list-style-type: none;
}

.passos-header h1 {
  float: left;
  direction: ltr;
  font-size: 45px;
  text-align: left;
  margin-top: 10%;
  margin-left: 10%;
  strong {
    color: #0086ff;
  }
}
@media screen and (min-width: 310px) and (max-width: 450px) {
  #tres-passos .row .col-sm-4 img {
    width: 300px;
  }
}

@media screen and (min-width: 310px) and (max-width: 450px) {
  .passos-header h1 {
    font-size: 1.5rem;
    margin-left: 10%;
  }
}

#tres-passos {
  text-align: center;
  margin-top: 25%;
}

#tres-passos .row .col-sm-4 img {
  border-radius: 20px;
}

@media screen and (min-width: 310px) and (max-width: 370px) {
  #tres-passos .row .col-sm-4 {
    max-width: 100%;
  }
}
#secao-idosa {
  width: 100%;
  margin-top: 10%;
  background-color: #f2f2f2;
  position: relative;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif !important;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  #secao-idosa #coluna-idosa .row #img-senhora {
    margin-top: 10%;
    width: 200px;
  }
}

@media only screen and (min-width: 1360px) and (max-width: 3840px) {
  #secao-idosa #coluna-idosa .row #img-senhora {
    width: 300px;
  }
}

#secao-idosa #coluna-idosa .row h2 {
  margin-top: 20%;
  margin-left: -70%;
  font-family: "ubuntu";
  text-align: left;
  font-size: 2rem;
  color: #012f6d;
  strong {
    color: #0086ff;
  }
}

#secao-idosa #coluna-idosa .row #img-senhora {
  margin-left: 50px;
}

#secao-idosa #coluna-idosa .row ul {
  font-family: "ubuntu+mono";
  color: #444444;
  font-size: 18px;
  margin-top: 5%;
  list-style-type: none;
  li {
    margin-left: -85%;
    margin-top: 2.5%;
  }
  p {
    margin-top: 10%;
    font-family: "ubuntu+mono";
  }
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  #secao-idosa #coluna-idosa .row p {
    margin-left: 45%;
    font-size: 15px;
  }
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  #secao-idosa #coluna-idosa .row img {
    margin-left: 30%;
    text-align: left;
  }
}

#secao-idosa #coluna-idosa .row img {
  margin-top: -2%;
  float: left;
  width: 45px;
  margin-right: 0px;
}

@media only screen and (min-width: 1360px) and (max-width: 3840px) {
  #secao-idosa #coluna-idosa .row img {
    margin-left: -50px;
  }
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  #secao-idosa #coluna-idosa .row h2 {
    margin-left: 5%;
    margin-top: 10%;
    font-size: 1.9rem;
  }
}
@media only screen and (min-width: 310px) and (max-width: 450px) {
  #secao-idosa #coluna-idosa .row ul {
    margin-left: 10%;
  }
}

@media (min-width: 310px) and (max-width: 450px) {
  .carousel-inner .carousel-item > div {
    display: flex;
    flex-direction: column;
  }
}

#slides {
  background-color: #f2f2f2;
  margin-top: 10%;
}

@media (min-width: 310px) and (max-width: 450px) {
  #slides .carousel-inner .carousel-item > div {
    display: flex;
    flex-direction: column;
  }
}

#slides #carouselExample .carousel-inner .carousel-item .row .col-md-4 img {
  border-radius: 5%;
  margin-top: 8%;
}

@media (min-width: 310px) and (max-width: 450px) {
  #slides #carouselExample .carousel-inner .carousel-item .row .col-md-4 img {
    width: 100%;
  }
}

#titulo-slides {
  font-family: "ubuntu";
  margin-top: 10%;
  text-align: center;
  h2 {
    color: #012f6d;
    font-size: 35px;
  }
  strong {
    color: #0086ff;
    font-size: 35px;
  }
}
