:root {
  --primary-font: 'Nunito' sans serif;
  --ligth-blue: #8dbdff;
  --background-color: #063d91;
  --ligth-gray: #f2f2f2;
  --dark-gray: #444444;
  --ligth-gray: #f2f2f2;
  --strong-blue: #0086ff;
  --elderly-section: #012f6d;
  --yellow-alert: #f6ac00;
}

html {
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-group-sm {
  position: relative;
}

.btn {
  text-align: center;
  float: none;
}

.btn-primary {
  text-align: center;
  font-size: 15px;
  direction: rtl;
  font-family: var(--primary-font);
  margin-top: 2.5%;
  margin-right: 0%;
  margin-left: 70%;
  border-radius: 30px;
  background-color: var(--background-color) !important;
  border: none;
}

.btn-primary:hover {
  background-color: var(--ligth-blue) !important;
  color: var(--elderly-section) !important;
}

#check-blue {
  width: 100%;
  font-family: var(--primary-font);
  margin-top: -4%;
  padding: 30px 0 0 10px;

  h1 {
    font-size: 35px;
    text-align: left;
    color: white;
  }

  ul {
    font-family: var(--primary-font);
    direction: rtl;
    color: white;
    font-size: 18px;
    margin-right: 0%;
    text-align: left;
    margin-top: 5%;
    list-style-type: none;
  }

  li {
    margin-top: 2.5%;
  }
}

@media (min-width: 310px) and (max-width: 480px) {
  #check-blue p {
    margin-top: 10%;
    margin-left: 13%;
  }
}

#foto-idoso {
  float: right;
  margin-top: -25%;
  margin-right: 10%;
  max-width: 40%;
  height: auto;
  clear: both;
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  #foto-idoso {
    display: none;
  }
}

.box {
  margin-top: 3.5%;
  width: 100vw;
  height: auto;
  background-image: url("./assets/image/background-img.png");
}

#box-idoso {
  background-color: var(--background-color);
  width: 100vw;
  height: 2.3vw;
}

.card {
  margin-top: 5%;
  display: flex;
  margin-left: 18%;
  margin-right: 20%;
  color: var(--dark-gray);
  justify-content: center;
  align-items: center;
  width: 65%;

  p {
    font-size: 18px;
    font-family: var(--primary-font);
  }

  span {
    font-size: 18px;
    font-family: var(--primary-font);
    color: var(--background-color);
  }
}

.card-body {
  width: fit-content;
  border-radius: 5px;
}

html {
  overflow-x: hidden;
}

#emprestimo {
  margin-top: 10%;
  background-color: var(--ligth-gray);
  position: relative;
  box-sizing: border-box;
  font-family: var(--primary-font) !important;
  display: flex;
  flex-direction: row;

  h2 {
    margin-top: 10%;
    font-family: var(--primary-font);
    text-align: left;
    font-size: 32px;
    color: var(--background-color);

    strong {
      color: var(--strong-blue);
    }
  }
}

@media (max-width: 306px) {
  #row-reclame-aqui {
    flex-direction: column-reverse;
  }
}

@media (min-width: 1360px) and (max-width: 3840px) {
  #reclame-aqui-img {
    width: 30%;
    margin-top: -580px;
    margin-left: 40%;
  }
}

@media (min-width: 310px) and (max-width: 480px) {
  #reclame-aqui-img {
    width: 135px;
    margin-top: -550px;
    margin-left: 58%;
  }
}

#foto-emprestimo {
  margin-top: 5%;
}

#lista-reclame-aqui {
  font-family: var(--primary-font);
  direction: rtl;
  font-size: 18px;
  margin-top: -5%;
  margin-right: 0%;
  text-align: left;
  margin-top: 10%;
  list-style-type: none;
}

#lista-reclame-aqui p {
  margin-left: 8%;
}

@media (min-width: 310px) and (max-width: 480px) {
  #lista-reclame-aqui p {
    margin-left: 13%;
  }
}

.passos-header h1 {
  float: left;
  direction: ltr;
  font-size: 45px;
  text-align: left;
  margin-top: 10%;
  margin-left: 10%;

  strong {
    color: var(--strong-blue);
  }
}

@media screen and (min-width: 310px) and (max-width: 450px) {
  #tres-passos .row .col-sm-4 img {
    width: 300px;
  }
}

@media screen and (min-width: 310px) and (max-width: 450px) {
  .passos-header h1 {
    font-size: 1.5rem;
    margin-left: 10%;
  }
}

#tres-passos {
  text-align: center;
  margin-top: 25%;
}

#tres-passos .row .col-sm-4 img {
  border-radius: 20px;
}

@media screen and (min-width: 310px) and (max-width: 370px) {
  #tres-passos .row .col-sm-4 {
    max-width: 100%;
  }
}

#secao-idosa {
  width: 100%;
  margin-top: 10%;
  background-color: var(--ligth-gray);
  position: relative;
  box-sizing: border-box;
  font-family: var(--primary-font) !important;
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  #secao-idosa #coluna-idosa .row #img-senhora {
    margin-top: 10%;
    width: 200px;
  }
}

@media only screen and (min-width: 1360px) and (max-width: 3840px) {
  #secao-idosa #coluna-idosa .row #img-senhora {
    width: 300px;
  }
}

#secao-idosa #coluna-idosa .row h2 {
  margin-top: 20%;
  margin-left: -70%;
  font-family: var(--primary-font);
  text-align: left;
  font-size: 2rem;
  color: var(--elderly-section);

  strong {
    color: #0086ff;
  }
}

#secao-idosa #coluna-idosa .row #img-senhora {
  margin-left: 50px;
}

#secao-idosa #coluna-idosa .row ul {
  font-family: var(--primary-font);
  color: #444444;
  font-size: 18px;
  margin-top: 5%;
  list-style-type: none;
  margin-bottom: 10%;

  li {
    margin-left: -85%;
    margin-top: 2.5%;
  }

  p {
    margin-top: 10%;
    font-family: var(--primary-font);
  }
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  #secao-idosa #coluna-idosa .row p {
    margin-left: 45%;
    font-size: 15px;
  }
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  #secao-idosa #coluna-idosa .row img {
    width: 50px;
    margin-left: 30%;
    text-align: left;
  }
}

#secao-idosa #coluna-idosa .row img {
  margin-top: -2%;
  float: left;
  width: 45px;
  margin-right: 0px;
}

@media only screen and (min-width: 1360px) and (max-width: 3840px) {
  #secao-idosa #coluna-idosa .row img {
    margin-left: -50px;
  }
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  #secao-idosa #coluna-idosa .row h2 {
    margin-left: 5%;
    margin-top: 10%;
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  #secao-idosa #coluna-idosa .row ul {
    margin-bottom: 15%;
    margin-left: 10%;
  }
}

@media (min-width: 310px) and (max-width: 450px) {
  .carousel-inner .carousel-item>div {
    display: flex;
    flex-direction: column;
  }
}

#slides {
  background-color: #f2f2f2;
  margin-top: 10%;
}

@media (min-width: 310px) and (max-width: 450px) {
  #slides .carousel-inner .carousel-item>div {
    display: flex;
    flex-direction: column;
  }
}

#slides #carouselExample .carousel-inner .carousel-item .row .col-md-4 img {
  border-radius: 5%;
  margin-top: 8%;
}

@media (min-width: 310px) and (max-width: 450px) {
  #slides #carouselExample .carousel-inner .carousel-item .row .col-md-4 img {
    width: 100%;
  }
}

#titulo-slides {
  font-family: "ubuntu";
  margin-top: 10%;
  text-align: center;

  h2 {
    color: var(--elderly-section);
    font-size: 35px;
  }

  strong {
    color: var(--strong-blue);
    font-size: 35px;
  }
}

footer {
  background-image: url("./assets/image/background-img.png");
  display: flex;
  margin-top: 10%;
}

.footer-content-wrapper h1 {
  font-family: "ubuntu";
  margin: 0px 0px 30.4px;
  margin-left: 3%;
  margin-top: 20px;
  color: #f6ac00 !important;
  font-size: 1.75rem !important;
}

.footer-content-wrapper #contato-container #whatsapp-icon {
  margin-left: 10%;
}

.footer-content-wrapper #contato-container h2 {
  font-family: "ubuntu";
  margin-left: 9%;
  margin-top: 5%;
  color: #f6ac00 !important;
  line-height: 2.42rem;
  font-size: 1.25rem;
}

.footer-content-wrapper #contato-container .link-whats {
  font-family: var(--primary-font);
  color: #ffff;
  font-size: 12px;
  margin-left: 9%;
}

#atendimento-ouvidoria h2 {
  font-family: "ubuntu";
  margin-right: 9%;
  margin-top: 5%;
  color: #f6ac00 !important;
  line-height: 2.42rem;
  font-size: 1.25rem;
}

#atendimento-ouvidoria p {
  font-family: var(--primary-font);
  color: #ffff;
  font-size: 1.1rem;
  margin-right: 9%;
}

#canal-denuncia h2 {
  font-family: "ubuntu";
  margin-left: 4%;
  margin-top: 5%;
  color: #f6ac00 !important;
  line-height: 2.42rem;
  font-size: 1.25rem;
  white-space: nowrap;
}

#canal-denuncia p {
  font-family: var(--primary-font);
  margin-left: 4%;
  color: #ffff;
  font-size: 1.1rem;
}

#canal-denuncia img {
  margin-left: 4%;
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  #canal-denuncia {
    padding: 0px 80px 0px 50px;
    margin-left: -7%;
  }
}

#endereco h2 {
  font-family: "ubuntu";
  margin-left: 4%;
  margin-top: 5%;
  color: #f6ac00 !important;
  line-height: 2.42rem;
  font-size: 1.25rem;
  white-space: nowrap;
}

#endereco p {
  font-family: var(--primary-font);
  margin-left: 5%;
  color: white;
  font-size: 1.1rem;
}

#endereco img {
  margin-top: 4%;
  margin-left: 4%;
}

.politica-privacidade a {
  font-family: var(--primary-font);
  margin-left: 4%;
  color: var(--yellow-alert) !important;
  line-height: 2.42rem;
  font-size: 1.25rem;
}

@media only screen and (min-width: 310px) and (max-width: 450px) {
  .politica-privacidade a {
    font-size: 1.25rem;
    display: inline-block;
  }
}

.politica-privacidade .copyright {
  font-family: var(--primary-font);
  padding-top: 3rem;
  margin-left: 2%;
  color: white;
  font-size: 0.98rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

#whatsapp-button img {
  width: 50px;
  height: 50px;
}

/* CSS SIMULACAO.HTML */

#logo-emprestimo-facil img {
  width: 500px;
  margin-top: 20px;
}

.section-subtitle {
  margin-top: 10%;
  font-size: 1rem;
  color: var(--strong-blue);
  font-family: var(--primary-font);
}

#logo-emprestimo-facil h1 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2.6rem;
  color: var(--elderly-section);
}

.input-simulation {
  font-family: var(--primary-font);
  font-size: 28px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid grey;
  color: var(--strong-blue);
  width: 280px;
}

.mascaraValor {
  font-family: var(--primary-font);
  background-image: url("./assets/image/edit-solid.svg");
  background-size: 20px;
  color: var(--strong-blue);
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 20px;
}

.input-subtitle {
  font-size: 1rem;
  color: var(--strong-blue);
  font-family: var(--primary-font);
}

#subtitle-input {
  margin-top: 10%;
  font-size: 1rem;
  color: var(--elderly-section);
  font-family: var(--primary-font);
  font-weight: 900;
}

#selecione-prazo {
  margin-top: 10%;
  display: block;
  font-size: 1rem;
  font-weight: 900;
  color: var(--elderly-section);
  font-family: var(--primary-font);
}

.rounded-select {
  margin-top: 4%;
  border-radius: 30px;
  padding: 5px;
  padding-left: 100px;
  appearance: none;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: right 50% center;
  background-size: 15px;
  border: 1px solid grey;
  color: var(--elderly-section);
  font-family: var(--primary-font);
  background-color: transparent;
  width: 280px;
  cursor: pointer;
}

.rounded-select:focus {
  outline: none;
}

.rounded-select option {
  text-align: center;
  padding: 5px;
}

.text-valores-solicitados {
  font-size: 0.67em;
  color: #777;
}

.btn-outline-primary {
  border-color: var(--strong-blue);
  background-color: transparent;
}

#botao-continuar {
  background-color: #f6ac00;
}

@media (min-width: 310px) and (max-width: 480px) {
  #img-mulher-consignado {
    display: none;
  }
}

.input-wrapper {
  text-align: right;
  display: flex;
  align-items: center;
}

.input-currency {
  vertical-align: middle;
  color: var(--strong-blue);
  font-family: var(--primary-font);
  font-size: 28px;
  margin-right: 5px;
}

.login-or-register {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: relative;
  left: 230px;
  top: -32px;
}

.ico-login {
  width: 32px;
  cursor: pointer;
  margin-right: 5px;
  position: relative;
  top: -13px;
  left: 2px;
}

.login-or-register-text {
  cursor: pointer;
  font-family: var(--primary-font);
  color: var(--elderly-section);
  position: relative;
  top: -10px;
  left: 0px;
}

.login-or-register-text:hover {
  color: var(--strong-blue);
}


@media (max-width: 768px) {
  .login-or-register {
    left: 0%;
  }
}

.modal {
  transition: none !important;
  /* Remove todas as transições do modal */
}

.modal.fade {
  opacity: 1 !important;
  /* Garante que o modal comece totalmente visível */
}

.modal.show {
  opacity: 1 !important;
  /* Garante que o modal permaneça totalmente visível */
}

.modal-backdrop.fade {
  opacity: 0.5 !important;
  /* Mantém o backdrop com alguma opacidade, se desejar */
}

.modal-backdrop.show {
  opacity: 0.5 !important;
  /* Mantém o backdrop com alguma opacidade, se desejar */
}

.close {
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: var(--background-color)
}

#modalCadastroLabel {
  color: var(--background-color) !important;
}

div.modal-body {
  color: var(--background-color) !important;
}

.form-control:focus {
  color: var(--ligth-blue) !important;
}

.form-control {
  outline: none !important;
}

.modal-footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.btn-register-close {
  width: 150px;
  height: 40px;
  display: flex;
  position: relative;
  left: -80px;
  padding-top: 8px;
  padding-left: 50px;
  border: none;
  border-radius: 8px;
  background-color: var(--elderly-section);
  color: var(--ligth-blue);
  font-weight: 700;
}

.btn-register-close:hover {

  background-color: var(--ligth-blue);
  color: var(--elderly-section);
}

.btn-register {
  width: 150px;
  height: 40px;
  display: flex;
  position: relative;
  left: 80px;
  border: none;
  border-radius: 8px;
  background-color: var(--elderly-section);
  color: var(--ligth-blue);
  font-weight: 700;
  padding-top: 8px;
  padding-left: 50px;
}

.btn-register:hover {

  background-color: var(--ligth-blue);
  color: var(--elderly-section);
}

@media (max-width: 768px) {
  .btn-register {
    left: 25px;
  }

  .btn-register-close {
    left: -25px;
  }

  #botao {
    font-size: small;
  }
}

#botao:hover {
  background-color: var(--ligth-blue);
  color: var(--background-color);
}

@media (min-width: 1200px) {
  #botao {
    width: 230px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
  }
}